- page_title s_('Trial|Start your free Ultimate and GitLab Duo Enterprise trial')

- content_for :page_specific_javascripts do
  = render 'layouts/google_tag_manager_head'
  = render 'layouts/one_trust'
= render 'layouts/google_tag_manager_body'

.gl-flex.gl-flex-col.md:gl-flex-row.gl-items-center.gl-justify-center
  .sm:gl-m-8.gl-max-w-80
    %h2.gl-mt-0
      - if @group_name.present?
        = safe_format(s_('Trial|Start your free Ultimate and GitLab Duo Enterprise trial on %{group_name}'), group_name: @group_name)
      - else
        = s_('Trial|Start your free Ultimate and GitLab Duo Enterprise trial')

    %p.gl-text-subtle.gl-text-lg
      = s_('Trial|Please provide the following information to start your trial.')

    = yield :before_form

    #js-trial-create-lead-form{ data: create_lead_form_data(@eligible_namespaces) }

  = render 'trial_illustration'
