- page_title s_('Trial|Start your free Ultimate and GitLab Duo Enterprise trial')

- content_for :page_specific_javascripts do
  = render 'layouts/google_tag_manager_head'
  = render 'layouts/one_trust'
= render 'layouts/google_tag_manager_body'

.gl-flex.gl-flex-col.md:gl-flex-row.gl-items-center.gl-justify-center
  .sm:gl-m-8.gl-max-w-80
    %h2.gl-pb-5.gl-my-0
      - if @eligible_namespaces.any?
        = s_('Trial|Apply your trial to a new or existing group')
      - else
        = s_('Trial|Apply your trial to a new group')

    %p.gl-text-gray-700.gl-text-lg
      = trial_selection_intro_text(@eligible_namespaces)

    = yield :before_form

    = form_tag trials_path(**::Onboarding::StatusPresenter.glm_tracking_attributes(params),
      step: GitlabSubscriptions::Trials::CreateService::TRIAL), method: :post, class: 'js-saas-trial-group', data: { testid: 'trial-form' } do
      .js-namespace-selector{ data: trial_namespace_selector_data(@eligible_namespaces, local_assigns[:namespace_create_errors]) }
      = render Pajamas::ButtonComponent.new(type: :submit, variant: :confirm, button_options: {data: { testid: 'start-your-free-trial-button' }}) do
        = _('Activate my trial')

  = render 'trial_illustration'
